/*-----------------main-freeshipping-------*/

.main-freeshipping-wrapper{
    display: flex;
    min-width: 320px;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.main-freeshipping-wrapper a{
    text-decoration: none;
    color:#333333;
    text-align: center;
}

.main-freeshipping-column1, .main-freeshipping-column2,
.main-freeshipping-column3, .main-freeshipping-column4{
    width: 293px;
    background-repeat: no-repeat;
    height: 108px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.main-freeshipping-column1{
    background-image: url(images/icon-freeshipping2.png);
    background-position: 12px 34px;
    padding-left:62px;
}

.main-freeshipping-column2{
    background-image: url(images/icon-customerSupport2.png);
    background-position: 7px 34px;
    padding-left:55px;
}

.main-freeshipping-column3{
    background-image: url(images/icon-back2.png);
    background-position: 26px 34px;
    padding-left:73px;
}

.main-freeshipping-column4{
    background-image: url(images/icon2472.png);
    background-position: 55px 34px;
    padding-left:103px;
}

@media (min-width: 0) and (max-width: 768px) {
    .main-freeshipping-wrapper {
        font-size: 2rem;
        font-weight: bold;
    }
}

@media (min-width: 0) and (max-width: 629px) {
    .main-freeshipping-wrapper{
        display: flex;
        flex-direction: column;
        margin-top: 6%;
        margin-bottom: 10%;
    }

    .main-freeshipping-column1, .main-freeshipping-column2,
    .main-freeshipping-column3, .main-freeshipping-column4{
        height: 48px;
        width: 100%;
    }

    .main-freeshipping-column1 a, .main-freeshipping-column2 a,
    .main-freeshipping-column3 a, .main-freeshipping-column4 a{
        padding-left: 16%;
        text-align: left;
    }
    .main-freeshipping-column1, .main-freeshipping-column2,
    .main-freeshipping-column3, .main-freeshipping-column4{
        background-position: 3% 2px;
        padding-left:5px;
    }
}
/*--------------------/main-freeshipping-------*/