@import url(https://fonts.googleapis.com/css?family=Montserrat);
/*@import url(http://allfont.ru/allfont.css?fonts=montserrat-light);*/
@import url(http://allfont.ru/allfont.css?fonts=montserrat-bold);

html{
    font-size: 62.5%;  /*1rem = 10px*/
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.montserrat-bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


/*.montserrat-bold{*/
/*font-family: 'Montserrat Bold', sans-serif;*/

/*}*/

.montserrat-light{
    font-family: 'Montserrat Light', sans-serif;
    font-weight: 300;
}

.montserrat-semi-bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


.clearfix::after {
     content: '';
     display: table;
     clear: both;
 }



.container{
    max-width: 1200px;
    padding: 0 15px;
    min-width: 320px;
    margin: 0  auto;
    box-sizing: border-box;
    position: relative;
}


.main-background-color, .main-freeshipping{
    background-color: #f7f7f7;
}




/*--------------------header--------------------*/

header{
    margin-bottom: 2.9rem;/*29px*/
}

@media (max-width:768px) {
    html{
        font-size: 50%;
    }
}

.top-background {
    background-color: #232323;
}

.page-header {
    background-color: #2b2b2b;
}

.header-top{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 29px;
}

.header-phone a, .header-user a{
    color: #7f7f7f;
    text-decoration: none;
}

.header-phone, .header-user{
    padding-top:4px;
    padding-bottom: 8px;
    line-height: 1.71;
}

.register{
    padding-right: 12px;
    padding-left: 7px;
}

.logo-container{
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: block;
    text-align: center;
}

@media (max-width:510px) {
    .logo-container {
        flex-direction: column;
    }
    .header-logo{
        margin-bottom: 15px;
    }
}

.header-search {
    display: block;
    border: 1px solid #323232;
    box-sizing: border-box;
    height: 46px;
    border-radius: 26px 26px 26px 26px;
}

.header-search input {
    display:inline-block;
    vertical-align: middle;
    width: 220px;
    height: 44px;
    padding-left: 25px;
    border:none;
    box-sizing: border-box;
    background:none;
    font-family: 'Montserrat Light', sans-serif;
    font-weight:400;
    font-size: 13px;
    color: #ffffff;
}

.header-search button {
    width: 55px;
    height: 44px;
    display:inline-block;
    vertical-align: top;
    background: url("images/icon-header-search.png") center center  no-repeat;
    border: none;
    float: right;
    padding-left: 25px;
}

.nav-container{
    display: flex;
    justify-content:space-between;
    position: relative;
    padding-bottom: 18px;
}

.header-nav ul{
    list-style: none;
    margin-left: -10px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height:1.1;
}

.header-nav ul li{
    display: inline-block;
}

.header-nav ul li+li{
    margin-left: 24px;
}

.header-nav ul li a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #ffffff;
}

.header-nav a:hover, .header-nav .current a {
    color: #be926f;
}

@media (max-width:710px) {
    .header-nav ul li+li {
        margin-left: 10px;
    }
}

@media (max-width:645px) {
    .header-nav ul li+li {
        margin-left: 0;
    }
}

@media (max-width:590px) {
    .header-nav ul li{
        display: block;
    }
}

@media (max-width:510px) {
    .header-search input{
        width: calc(100% - 55px);
    }
}

.header-cart {
    position: relative;
    background: url("images/icon-header-cart.png") center center no-repeat;
    width: 17px;
    height: 22px;
    padding: 10px;
    top: 22px;
    left: -2px;
}

.cart-count {
    color: #232323;
    font-size: 12px;
    background-color: #be926f;
    text-decoration: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    position: relative;
    top: -7px;
    right: -7px;
}
/*--------------------/header--------------------*/



/*----------------------/footer--------------------*/

.footer-wrapper{
    display: flex;
    text-transform: capitalize;
}

.footer-column {
    width: 390px;
    height: 245px;
    font-size: 20px;
    background-repeat: no-repeat;
    background-position: center 40px;
}

.footer-column> a{
    text-decoration: none;
    text-align: center;
    color: #000000;
    display: block;
    padding-top: 29%;
}

.footer-column div, .footer-column address{
    padding-top: 5%;
}

.footer-column1{
    background-image: url(images/icon-call-us.png);
}

.footer-column2{
    background-image: url(images/icon-location.png);
}

.footer-column3{
    background-image: url(images/icon-mail.png);
}

.footer-phone {
    font-size: 24px;
}

.footer-location, .footer-mail{
    font-size: 14px;
    line-height:2.14;
}

.footer-location{
    color: #666666;
}

.footer-mail{
    color: #be926f;
}

.footer-bottom{
    display: flex;
    font-size: 13px;
    color: #999999;
    justify-content: space-between;
    align-items: center;
}

.footer-social ul{
    display: flex;

}
.footer-social li{
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;

}

.footer-social li:nth-child(1){
    background-image: url("images/icon-twitter.png");
    margin-right:41px;
    margin-top: 13px;
}

.footer-social li:nth-child(2){
    background-image: url("images/icon-google_plus.png");
    margin-right:34px;
    margin-top: 12px;
}

.footer-social li:nth-child(3){
    background-image: url("images/icon-facebook.png");
    margin-right:-3px;
    margin-top: 11px;
}

@media (max-width: 1034px) {
    .footer-column > a {
        padding-top: 35%;
    }
}

@media (max-width: 890px) {
    .footer-column > a {
        padding-top: 45%;
    }
}

@media (max-width: 686px){
    .footer-column > a {
        padding-top: 65%;
     }
    .footer-phone {
        font-size: 18px;
    }
}

@media (max-width: 510px){
    /*.footer-column {*/
        /*background-position: center 5%;*/

    .footer-wrapper {
        /*display: block;*/
        flex-direction: column;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .footer-column {
        width: 82%;
        min-width: 300px;
        height: auto;
        margin-bottom:5%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2%;
        background-position: 3% center;
        font-size: 16px;
        border-bottom: 1px solid #999999;
        border-radius: 0 0 16px 16px;
    }

    .footer-column > a {
        padding-top: 1%;
    }

    .footer-column div, .footer-column address {
        padding-top: 2%;
    }
}

.footer-bottom{
    background-color: #f7f7f7;
}


@media (max-width: 640px ) {
    .footer-bottom{
        flex-direction: column;
    }

    .footer-bottom>span{
        margin-top: 4px;
        margin-bottom: 14px;
    }
}

/*----------------------/footer--------------------*/

